/* CSS Snippet from W3schools: https://www.w3schools.com/howto/howto_css_contact_form.asp */
/* Style inputs with type="text", select elements and textareas */

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


* {font-family: 'Readex Pro';}

a {
  text-decoration: none;
  color: white !important;
  font-weight: 500;
}

a:hover {
  color: #d33682 !important;
  text-decoration: none;
}
h3#whatsapp-chat-analyzer{
  color: rgb(66, 207, 66);
}
h3#sales-analysis-using-powerbi{
  color: rgb(66, 207, 66);
}
h3#titanic-dataset-analysis{
  color: rgb(66, 207, 66);
}
h3#posture-dection-by-posenet{
  color: rgb(66, 207, 66);
}
h3#co2-emisson-and-climate-change-dashboard{
  color: rgb(66, 207, 66);
}



/* Form */
h2#get-in-touch-with-me{
  color: #6fbcef
  /* color: rgb(142, 212, 142); */
  
}



input[type=message], input[type=email], input[type=text], textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    
  }
  
  /* Style the submit button with a specific background color etc */
  button[type=submit] {
    background-color: #b13672;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  button[type=submit]:hover {
    background-color: #d33682;
  }
  
  
  Hide Streamlit Branding
  #MainMenu {visibility: hidden;}
  footer {visibility: hidden;}
  header {visibility: hidden;}